.wrap {
  margin-bottom: 40px;
}

.title {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.form {
  width: 600px;
  padding: 30px;
  border: 2px solid #000000;
  border-radius: 15px;

  margin: 0 auto;
}

.label {
  display: block;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}

.wrapLabel {
  margin-bottom: 30px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  outline: none;
}

.input:hover,
.input:focus,
.input:not(:placeholder-shown) {
  border: 2px solid rgb(29, 46, 199);
  border-radius: 10px;
}

.text {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.button {
  width: 150px;
  margin: 0;
  padding: 10px;
  border: 2px solid #000000;
  color: #ffffff;
  border-radius: 10px;
  background: #000000;
  outline: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 2px solid rgb(29, 46, 199);
  background: rgb(29, 46, 199);
}
