.wrap {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.buttonBack {
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 22px;
  font-weight: 500;

  border: none;
  background: transparent;
  cursor: pointer;
}

.buttonBack:hover,
.buttonBack:focus {
  outline: none;
  color: rgb(29, 46, 199);
}

.label {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
}

.input {
  width: 100%;
  padding: 10px 20px;

  border: 2px solid #000000;
  border-radius: 10px;
  outline: none;
}

.input:hover,
.input:focus,
.input:not(:placeholder-shown) {
  border: 2px solid rgb(29, 46, 199);
  border-radius: 10px;
}
